appnope==0.1.2
astroid==2.4.2
autopep8==1.5.7
backcall==0.2.0
click==8.0.1
decorator==4.4.2
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
joblib==1.0.1
jupyter-client==6.1.11
jupyter-core==4.7.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.8.0
pylint==2.6.0
PyMySQL==1.0.2
python-dateutil==2.8.1
PyYAML==6.0
pyzmq==22.0.3
regex==2021.9.24
six==1.15.0
SQLAlchemy==1.4.26
toml==0.10.2
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.12.1
