{% include 'header.html' %}
<body>
{% include 'nav.html' %}
<main class="container">
    <h1>Game Search</h1>
    <form action="/game_search" method="post">
        <div class="row">
            <div class="mb-3 row">
                <label for="game_name" class="col-sm-2 col-form-label">Game Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="game_name" name="game_name">
                </div>
            </div>
            <button class="btn btn-lg btn-primary">Advanced Search</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Game Name</th>
            <th scope="col">Release Year</th>
            <th scope="col">Genre</th>
            <th scope="col">Publisher Name</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['GameName'] }}</td>
                    <td>{{ item['ReleaseYear'] }}</td>
                    <td>{{ item['Genre'] }}</td>
                    <td>{{ item['PubName'] }}</td>
                    <td>{{ item['Rating'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% include 'footer.html' %}