{% include 'structural/header.html' %}
<body>
{% include 'structural/nav.html' %}
<div class="container">
    <h1>Platform Search</h1>
    <form class="mb-3" action="/platform" method="post">
        <div class="row">
            <div class="mb-3 row">
                <label for="platform_name" class="col-sm-2 col-form-label">Platform Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="platform_name" name="platform_name">
                </div>
            </div>
            <div class="mb-3 row">
                <button class="btn btn-lg btn-primary">Advanced Search</button>
            </div>
        </div>
    </form>
    
    {#  Button Trigger Modal Insert #}
    <button type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#platform_insert">Insert Platform</button>
    <!-- Modal -->
    <div class="modal fade" id="platform_insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert Platform</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/platform_insert" method="post">
                        <div class="row">
                            <div class="mb-4 row">

                                <label for="ins_initial" class="col-sm-4 col-form-label">Initial</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_initial" name="ins_initial">
                                </div>

                                <label for="ins_fullName" class="col-sm-4 col-form-label">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_fullName" name="ins_fullName">
                                </div>

                                <label for="ins_manufacturer" class="col-sm-4 col-form-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_manufacturer" name="ins_manufacturer">
                                </div>
                            
                                <label for="ins_num_JA_EU_US" class="col-sm-4 col-form-label">Sales In JA EU US</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_num_JA_EU_US" name="ins_num_JA_EU_US">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Insert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {#  Button Trigger Modal delete #}   
    <button type="button" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#platform_delete">Delete Platform</button>
    <!-- Modal --> 
    <div class="modal fade" id="platform_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Platform</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/platform_delete" method="post">
                        <div class="row">
                            <div class="mb-4 row">
                                <label for="del_platform_name" class="col-sm-4 col-form-label">Platform Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="del_platform_name" name="del_platform_name">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Show table -->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Initial</th>
            <th scope="col">Full Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Num JA EU US</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['Initial'] }}</td>
                    <td>{{ item['FullName'] }}</td>
                    <td>{{ item['Manufacturer'] }}</td>
                    <td>{{ item['Num_JA_EU_US'] }}</td>
                    <td><button type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#platform_update{{ loop.index }}">Update Platform</button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="platform_update{{ loop.index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Platform</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/platform_update" method="post">
                                        <div class="row">
                                            <div class="mb-4 row">

                                                <input type = "hidden" name = "upd_initial" value = "{{ item['Initial'] }}" />

                                                <label for="upd_fullName" class="col-sm-4 col-form-label">Full Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_fullName" name="upd_fullName" value = "{{ item['FullName'] }}">
                                                </div>

                                                <label for="upd_manufacturer" class="col-sm-4 col-form-label">Manufacturer</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_manufacturer" name="upd_manufacturer" value = "{{ item['Manufacturer'] }}">
                                                </div>
                                            
                                                <label for="upd_num_JA_EU_US" class="col-sm-4 col-form-label">Sales In JA EU US</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_num_JA_EU_US" name="upd_num_JA_EU_US"  value = "{{ item['Num_JA_EU_US'] }}">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" role="button">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'structural/footer.html' %}