{% include 'structural/header.html' %}
<body>
{% include 'structural/nav.html' %}
<div class="container">
    <h1>Publisher Search</h1>
    <form class="mb-3" action="/publisher" method="post">
        <div class="row">
            <div class="mb-3 row">
                <label for="publisher_name" class="col-sm-2 col-form-label">Publisher Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="publisher_name" name="publisher_name">
                </div>
            </div>
            <div class="mb-3 row">
                <button class="btn btn-lg btn-primary">Advanced Search</button>
            </div>
        </div>
    </form>
    
    {#  Button Trigger Modal Insert #}
    <button type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#publisher_insert">Insert Publisher</button>
    <!-- Modal -->
    <div class="modal fade" id="publisher_insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert Publisher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/publisher_insert" method="post">
                        <div class="row">
                            <div class="mb-4 row">

                                <label for="ins_publisher_name" class="col-sm-4 col-form-label">Publisher Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_publisher_name" name="ins_publisher_name">
                                </div>

                                <label for="ins_headquarters" class="col-sm-4 col-form-label">Headquarters</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_headquarters" name="ins_headquarters">
                                </div>

                                <label for="ins_establishTime" class="col-sm-4 col-form-label">EstablishTime</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_establishTime" name="ins_establishTime">
                                </div>
                            
                                <label for="ins_notable_games" class="col-sm-4 col-form-label">Notable Game</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_notable Games" name="ins_notable_games">
                                </div>

                                <label for="ins_notes" class="col-sm-4 col-form-label">Notes</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_notes" name="ins_notes">
                                </div> 

                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Insert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {#  Button Trigger Modal delete #}   
    <button type="button" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#publisher_delete">Delete Publisher</button>
    <!-- Modal --> 
    <div class="modal fade" id="publisher_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Publisher</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/publisher_delete" method="post">
                        <div class="row">
                            <div class="mb-4 row">
                                <label for="del_publisher_name" class="col-sm-4 col-form-label">Publisher Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="del_publisher_name" name="del_publisher_name">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Show table -->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Publisher Name</th>
            <th scope="col">Headquarters</th>
            <th scope="col">Establish Time</th>
            <th scope="col">Notable Games</th>
            <th scope="col">Notes</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['PubName'] }}</td>
                    <td>{{ item['Headquarters'] }}</td>
                    <td>{{ item['EstablishTime'] }}</td>
                    <td>{{ item['Notable_games'] }}</td>
                    <td>{{ item['Notes'] }}</td>
                    <td><button type="button" class="btn btn-lg btn-outline-warning" data-bs-toggle="modal" data-bs-target="#publisher_update{{ loop.index }} ">Update</button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="publisher_update{{ loop.index }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Publisher</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/publisher_update" method="post">
                                        <div class="row">
                                            <div class="mb-4 row">
                
                                                <input type = "hidden" name = "upd_publisher_name" value = "{{ item['PubName'] }}" />
                
                                                <label for="upd_headquarters" class="col-sm-4 col-form-label">Headquarters</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_headquarters" name="upd_headquarters" value = "{{ item['Headquarters'] }}">
                                                </div>
                
                                                <label for="upd_establishTime" class="col-sm-4 col-form-label">EstablishTime</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_establishTime" name="upd_establishTime" value = "{{item['EstablishTime']}}">
                                                </div>
                                            
                                                <label for="upd_notable_games" class="col-sm-4 col-form-label">Notable Game</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_notable Games" name="upd_notable_games" value = "{{item['Notable_games']}}">
                                                </div>
                
                                                <label for="upd_notes" class="col-sm-4 col-form-label">Notes</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="upd_notes" name="upd_notes" value = "{{item['Notes']}}">
                                                </div> 
                
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" role="button">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'structural/footer.html' %}