{% include 'structural/header.html' %}
<body>
{% include 'structural/nav.html' %}

<!-- Show table -->
<div class="container">
    <h1>Show Top 5 Developer and Top 5 Publisher By Gender</h1>
    <form class="mb-3" action="/sp1" method="post">
        <div class="row">
            <div class="mb-3 row">
                <label for="gender_label" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gender" name="gender">
                </div>
            </div>
            <div class="mb-3 row">
                <button class="btn btn-lg btn-primary">Advanced Search</button>
            </div>
        </div>
    </form>



    <table class="table">
        <thead>
        <tr>
            <th scope="col">Developer and Publisher Name</th>
            <th scope="col">Number</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['DevPubName'] }}</td>
                    <td>{{ item['Number'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'structural/footer.html' %}