{% include 'structural/header.html' %}
<body>
{% include 'structural/nav.html' %}

<!-- Show table -->
<div class="container">
    <h1>Show Top 5 Manufacturers' Average User Score And Status</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Manufacturer</th>
            <th scope="col">Average User Score</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['Manufacturer'] }}</td>
                    <td>{{ item['Avg_Score'] }}</td>
                    <td>{{ item['ManuStatus'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'structural/footer.html' %}