{% include 'structural/header.html' %}
<body>
{% include 'structural/nav.html' %}
<div class="container">
    <h1>UserPlatform Search</h1>
    <form class="mb-3" action="/userplatform" method="post">
        <div class="row">
            <div class="mb-3 row">
                <label for="userid" class="col-sm-2 col-form-label">User Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userid" name="userid">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="initial" class="col-sm-2 col-form-label">Platform Initial</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="initial" name="initial">
                </div>
            </div>
            <div class="mb-3 row">
                <button class="btn btn-lg btn-primary">Advanced Search</button>
            </div>
        </div>
    </form>
    
    {#  Button Trigger Modal Insert #}
    <button type="button" class="btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#userplatform_insert">Insert UserPlatform</button>
    <!-- Modal -->
    <div class="modal fade" id="userplatform_insert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Insert UserPlatform</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/userplatform_insert" method="post">
                        <div class="row">
                            <div class="mb-4 row">

                                <label for="ins_userid" class="col-sm-4 col-form-label">User Id</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_userid" name="ins_userid">
                                </div>

                                <label for="ins_initial" class="col-sm-4 col-form-label">Platform Initial</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ins_initial" name="ins_initial">
                                </div>

                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Insert</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {#  Button Trigger Modal delete #}   
    <button type="button" class="btn btn-lg btn-outline-danger" data-bs-toggle="modal" data-bs-target="#userplatform_delete">Delete UserPlatform</button>
    <!-- Modal --> 
    <div class="modal fade" id="userplatform_delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete UserPlatform</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/userplatform_delete" method="post">
                        <div class="row">
                            <div class="mb-4 row">
                                <label for="del_userid" class="col-sm-4 col-form-label">User Id</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="del_userid" name="del_userid">
                                </div>
                                <label for="del_initial" class="col-sm-4 col-form-label">Platform Initial</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="del_initial" name="del_initial">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" role="button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Show table -->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Platform Initial</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item['UserId'] }}</td>
                    <td>{{ item['Initial'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'structural/footer.html' %}